.results{
    
    display: flex; 
    flex-wrap: wrap;
    margin: 50px 5px 10px 5px;
    width: 85%;  
    justify-content: center;

} 

.results-undefined {
    margin: 80px 10px 15px 10px;
    font-size: 35px; 
    color: rgb(217, 57, 81) ;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.p-icon{
    font-size: 70px;
}   

@media(max-width: 1180px) {
   .results {
    width: 90%;
   }
}
@media(max-width: 950px) {
    .results {
     width: 100%;
    }
}