.results{
    
    display: flex; 
    flex-wrap: wrap;
    margin-top: 50px;
    width: 80%;

} 

.results-undefined {
    margin: 80px 10px 15px 10px;
    font-size: 35px; 
    color: rgb(217, 57, 81) ;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.p-icon{
    font-size: 70px;
}   