
.search-wrapp {
    width: 800px;
         
} 
.search-input {
    padding: 10px 20px; 
    width: 100%;
    border-radius: 12px;
    border: none;
    -webkit-box-shadow: 0px 0px 35px 0px rgb(157, 59, 124);
    -moz-box-shadow: 0px 0px 35px 0px rgb(222, 101, 151);
    box-shadow: 0px 0px 35px 0px rgb(34, 2, 23);
    font-size: 20px;
    outline: none;
    font-weight: 300px; 
    transition:0.4 s ease-out ;
    

}  

.search-input:focus {
    box-shadow: 0px 0px 35px 0px rgb(235, 9, 16); 
    background-color: rgb(246, 144, 159);
}