*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
  background-color: rgb(64, 65, 66);
   
}



header {
  padding: 50px 15px 0px;
 
}

h1{
  color: rgb(217, 57, 81);
  font-size: 50px;
  font-weight: 800; 
  text-align: center;
  text-shadow: 0px 0px 12px rgb(241, 9, 94);
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
 
.starter-pic-div {
  margin: 70px 15px 30px 15px; 
  border-radius: 20px;
  width: 75%;
  height: 600px;
  -webkit-box-shadow: 0px 0px 24px 14px rgba(249, 148, 224, 1);
  -moz-box-shadow: 0px 0px 24px 14px rgb(179, 13, 138);
  box-shadow: 0px 0px 24px 14px rgb(217, 57, 81);
  background-image: url('https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80');
} 


 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
